*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #ebdd91ad;
  font-family: "Roboto", sans-serif;
  color: #434455;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
section {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  /* max-width: 100%; */
  height: auto;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ================================ */
.container {
  max-width: 1200;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-item-text {
  font-size: 20px;
  color: blue;
}
.section-title {
  margin: 0 auto;
  color: blue;
}
.hero-title {
  padding: 10px;
}
.table-download {
  font-size: 20px;
  font-weight: 600;
  color: yellow;
  border: 1px solid grey;
  border-radius: 100px;
  padding: 14px 40px;
  background: blue;
  max-width: 300px;
  margin: 0 auto;
}
.header-title-part {
  display: block;
}
.hero-list {
  padding: 40px;
}
.section-content {
  display: flex;
  justify-content: space-around;
  /* gap: 20px; */
}
.section-item {
  margin-bottom: 20px;
}
.header-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: blue;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 800px;
}

.final-test {
  display: flex;
  gap: 40px;
}
.hero-container {
  /* background-image: url(../img/hero-img.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  background-size: cover;
  margin: 0 auto;
}
.container {
  margin-bottom: 10px;
}
